
<head>
<meta charset="utf-8">
    <!-- 뷰포트 메타태그! -->
  <meta name="viewport" content="width=device-width,  initial-scale=1.0"> 
  <!-- 부트스트랩 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<style>
 
 .c:hover{
  background-color : white !important;
  border-color:#9B191A !important;
  color: #9B191A !important;
  cursor:pointer;
}
.d{
 font-size:12px!important;
 color: #9B191A !important;
 border-color:#9B191A !important;
 background-color:white;
}
</style>
</head>
<div class="container mt-5" >
  <h1>경희인들의 소통의 장</h1>
  <form action="/sns/create" method="post">
       <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="EXID 짱짱" name="content" required>
      </div>
       <button type="submit" class="btn btn-outline-danger mb-5">댓글 작성</button>
  </form>
  
  <% @comments.each do |x| %>
  <ul style=list-style:none;>
   <li>
        <span><%= x.user.name %></span>
        <span><%= x.created_at %></span>
        <p><%= x.comment %><% if x.user.id == current_user.id %>
           <button class="d btn btn-default" onclick="location.href='/sns/destroy/<%=x.id%>'">삭제</a>
         <% end %></p>
         
   </li>
  </ul>
  <% end %>

</div>