
<style>
 

</style>

<div class="container mt-5" >
  <h1>경희인들의 소통의 장</h1>
  <form action="/sns/create" method="post">
       <div class="form-group mt-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="100자 이내로 작성해주세요/지금 축제 어때요?" name="content" maxlength="100" required>
      </div>
       <button type="submit" class="btn btn-outline-danger mb-3">댓글 작성</button>
  </form>
  
  <% @comments.each do |x| %>
  <ul style=list-style:none;>
   <li>
        <span><%= x.user.name %></span>
        <span><%= x.created_at %></span>
         <p><%= x.comment %><% if x.user.id == current_user.id %>
           
         </p><button class="d btn btn-default" onclick="location.href='/sns/destroy/<%=x.id%>'">삭제</button><% end %>
   </li>
  </ul>
  <% end %>

</div>
<div class="container">

</div>

