<!DOCTYPE html>
<html>
    
    
    
<head>
    <style>
        .copyight{
            width:100px;
        }
        ul{ 
        list-style:none;
        }
    
    .talk {
        display:flex;
    }
    
    .talk> img {
    width:10%; 
    height:10%;
    }
      @media sceen and (max-width: 768px) {
      .talk> img {
    width:20%; 
    height:20%;
      }
      
      }
    
    </style>  


</head>
    <body>
            <a href="/sns/main"><img src="/assets/talk.png" style="width:40%; height:40%" ></a>
    <table class="table table-hover">
      <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
      <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
      </tbody>
    </table>
    
           
           
     <div class="container my-3" style="text-align:center">
        <img class="img_map img-fluid" src="/assets/전체지도2.jpg" style="width:80%; height:80%">
     </div>
    
    <hr>
           
           <h1 style="text-align">전체 라인업 이미지 나타내기~~</h1>
    <div class="container my-3" style="text-align:center">
        <img class="img_map img-fluid" src="/assets/전체지도2.jpg" style="width:80%; height:80%">
    </div>
           
           <hr>
           
         
                                <h1 style="text-align">주점 정보를 보여주기~~</h1>
                <p class="margin">
                    <span class="main-title">경희대학교 국제캠퍼스 축제 주점 정보</span>
                    <br>
                </p>
                <h3 class="#">2017.05.22 ~ 2017.05.26</h3>
                <br>
                <br>
                <br>
                <div class="stat margin">
                    <h3 class="margin-small">
                        오늘 <%=@numofTodayClubs%> 개의 주점이 열렸습니다.<br>
                    </h3>
                
                <div class="today_link">
                    <div class="container" style="padding: 5px 50px 10px">
                    
                        <div class="row">
                              <div class="col-sm-6">
                                <div class="card">
                                  <div class="card-block">
                                    <h3 class="card-title">Special title treatment</h3>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="card">
                                  <div class="card-block">
                                    <h3 class="card-title">Special title treatment</h3>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                  </div>
                                </div>
                              </div>
                        </div>
                        
                    </div>
                </div>
                
                
    </body>
    
</html>