<p>All about Likelion</p>
<!-- <a href="tel:010-4784-7057"> text or img   </a> -->


   <footer class="footer">
      <div class="footer_first">
        <div class="slogan"><img src="/assets/logo.png" style=" width:50%; height:50%;">
        </div>
            
        <a href="https://www.facebook.com/kyungheelion/?fref=ts"><button type="button" class="join">Come to join us</button></a>
        
          <br>
        
        
    </div>
    </div>        
   
    </footer>
