<head>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
  <link href="/app/stylesheets/info.css" rel="stylesheet">
    <style>
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
@media screen and (max-width: 768px){
 
</style>  

</head>
<h3 style="text-align:center;" class="mt-3" >단과대 비상 연락망</h3>
<div class="container tel_book mx-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>단과대</th>
            
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <th scope="row">1</th>
            <td>체대</td>
            
            <td><a href="tel:010-7742-5055">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>생대</td>
            
            <td><a href="tel:010-5032-7731">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>전자대</td>
            
            <td><a href="tel:010-2308-0982">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>응용대</td>
            
            <td><a href="tel:010-8648-0871">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>공대</td>
            
            <td><a href="tel:010-6371-3287">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>예대</td>
            
            <td><a href="tel:010-2689-6404">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>외대</td>
            
            <td><a href="tel:010-7232-0591">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>국제대</td>
            
            <td><a href="tel:010-4628-9621">문의하기</a></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>학관</td>
            
            <td><a href="tel:010-8837-5518">문의하기</a></td>
          </tr>
        </tbody>
      </table>
</div>
<div class="container" style="text-align:center">
       <button class="c btn btn-outline-danger min mb-3" type="button" onclick="location.href='https://www.facebook.com/kyungheelion/?fref=ts'">
   페이지 오류 제보하기</button>
   </div>


    
  
