 <style>

  .btn {
      background-color:#9B191A; }
  
</style>
 <script>
     
       	function btn_is_alert(){
      	  /* alert(문자열) */
      	  alert("메뉴판이 성공적으로 추가되었습니다.");
      	  location.href='/festival/index';
      	}

 </script>
 
 <div class="container">
    <h2 style="margin-top:10px">메뉴를 작성해주세요!</h2>
    <h4 style="margin-top:10px">현재 추가된 메뉴 목록</h4>
    <table class="table mt-3">
       <thead class="thead-inverse">
      <tr>
        <th> </th>
        <th>메뉴 이름 </th>
        <th>가격</th>
      </tr>
    </thead>
    <tbody>
        <% @menus.each do |x| %>
            <tr>
                <th scope="row"></th>
                <td><%=x.menu_name%></td>
                <td><%=x.menu_price%></td>
            </tr>
        <% end %>

      </tbody>
    </table>
    
  
    <form class="form-block mb-3" action="/menucreate" method="POST">
    <div class="form-group">
      <label for="formGroupExampleInput">메뉴 이름</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="menu_name" required>
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput">가격</label>
      <input type="number" class="form-control" id="formGroupExampleInput"  placeholder="ex)2000원이면 2000 입력"name="menu_price" required>
    </div>
    
     
     <input type="hidden" value="<%=params[:univ_id]%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="univ_id"> <!-- 대학 id 설정-->
     <input type="hidden" value="<%=params[:club_id]%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="club_id"> <!-- 동아리 id 설정-->
     
     
       <button type="submit" class="btn" style="color:white">메뉴 추가</button>
       <button type="submit" class="btn"name="btn_js_confirm" id="btn_js_confirm" onclick="btn_is_alert();"   style="color:white">제출</button> 
      
      
    </form>
  </div>